- content_for :page_heading do
  Set your password

= simple_form_for(resource, :as => resource_name, :url => user_confirm_path, method: :put, html: {class: 'panel', name: 'form-login'}) do |form|
  .panel-body
    = render 'layouts/alerts', locals: {flash: flash}
    = devise_error_messages!
    %p You're almost done! Now create a password to securely access your account.
    .form-group
      .form-stack.has-icon.pull-left
        = hidden_field_tag :confirmation_token, @original_token
        .form-stack.has-icon.pull-left
          = form.password_field :password, :input_html => {:autofocus => true}, :placeholder => "New Password", :class => 'form-control input-lg', :data => { :'parsley-required' => "", :'parsley-error-message' => 'Please enter a password', :'parsley-errors-container' => "#error-container" }
          %i.ico-lock2.form-control-icon
        .form-stack.has-icon.pull-left
          = form.password_field :password_confirmation, :placeholder => "Confirm New Password", :class => 'form-control input-lg', :data => { :'parsley-required' => "", :'parsley-error-message' => 'Please retype your password', :'parsley-errors-container' => "#error-container" }
          %i.ico-lock2.form-control-icon
        #error-container.mb15
        .form-group.nm
          = form.submit 'Confirm Account', :class => "btn btn-block btn-success"
