.col-sm-6.col-md-4.shuffle
  .panel.widget
    .table-layout.nm
      .col-xs-4.text-center
        = link_to edit_user_path(user) do
          %img{:src => user.img_url, :width => "100%"}/
      .col-xs-7.valign-middle
        .panel-body
          %h5.search-target.semibold.mt0.mb5
            = link_to user.name, edit_user_path(user)
          %h5.search-target.semibold.mt0.mb5.text-muted
            - unless user.corporate_id?
              = user.current_property_user_role.title
            - else
              = t('.corporate')
          - if user.email.present?
            %p.ellipsis.text-muted.mb5.listing-email
              %i.ico-envelop.mr5
              = mail_to user.email, :body => "Hi #{user.name},", :rel => 'tooltip', :title => 'Click here to send email' do
                = user.email
          - if user.username
            %p.ellipsis.text-muted.mb5
              %i.ico-user.mr5
              = user.username
      .col-xs-1.valign-top
        .listing-actions
          - if can? :delete, User
            - if user.deleted?
              = link_to user_path(user, user:{filler: true}, submit_button: 'Activate'), data: {confirm: "Reactivate user #{user.name}?"}, method: :put, :class => 'activate-inactivate btn btn-success', :rel => 'tooltip', :title => 'Activate' do
                %i.ico-refresh
            - else
              - if can? :destroy, user
                = link_to user, method: :delete, data: {confirm: "Inactivate user #{user.name}"}, :class => 'activate-inactivate btn btn-danger', :rel => 'tooltip', :title => 'Inactivate' do
                  %i.ico-trash
