<% content_for :header do %>
    <p style="margin: 0; text-align: justify;">
      Work Order #<%= @work_order.id %> has been assigned to you, at '<%= @work_order.property.name %>'
    </p>
    <p style="margin: 0; text-align: justify;">
      Location: <span style="color: #777;"><%= @work_order.location_detail %></span>
    </p>
    <p style="margin: 0; text-align: justify;">
      Request: <span style="color: #777;"><%= @work_order.description %></span>
    </p>
<% end %>

<% content_for :action do %>
    <a class="kmButton " title="" href="<%= maintenance_work_orders_url(:id=>@work_order.id) %>" target="_self" style="word-wrap: break-word; font-weight: normal; letter-spacing: -0.5px; line-height: 100%; text-align: center; text-decoration: underline; color: #0000cd; font-family: Helvetica, Arial; font-size: 16px; text-decoration:initial;color:#FFFFFF;font-weight:bold;font-size:16px;font-family:Helvetica, Arial;padding-top:0;padding-bottom:0;">View Work Order</a>
<% end %>
