<%
  grayed = grayed
  no_fixed_width = no_fixed_width
  inverted = inverted
  if values[:main] == values[:previous]
    color = arrow = ''
  elsif (values[:main] < values[:previous]) ^ inverted
    color = 'color: #EC1556;'
    arrow = "&#8964;"
  else #if (values[:main] > values[:previous]) ^ inverted
    color = 'color: #63B701;'
    arrow = "&#8963;"
  end
%>
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td class="stack-column">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td style="padding: 5px; font-family: 'Open Sans'; font-weight: 400; font-size: 2.8em; color: <%= grayed ? '#8C8C8C' : '#00ACDC' %>; text-align: center; <%= 'min-width: 3em;' unless no_fixed_width %>">
            <%= values[:main] %>
          </td>

          <td style="padding: 5px; text-align: left; <%= 'min-width: 10em;' unless no_fixed_width %>">
            <div style="font-family: 'Open Sans'; font-weight: 400; font-size: 0.91em; line-height: 1.5em; color: #4A4A4A; text-align: left;">
              <%= values[:title] %>
            </div>
            <div style="font-family: 'Open Sans'; font-weight: 300; font-size: 0.84em; font-style: italic; line-height: 1.5em; color: #4A4A4A; text-align: left;">
              <span style="<%= color %> font-weight: 600; font-size: 1.1em;"><%=raw arrow %></span>
              Vs. <%= "#{values[:previous]} #{values[:previous_date]}" %>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
